# Dependencies
/node_modules

# Build output
/dist
/build

# .env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and Editor files
.DS_Store
.idea
.vscode
*.suo
*.user
*.casync